body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.v-h-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-height {
  height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

.display-block {
  display: block;
}

.v-center {
  display: flex !important;
  align-items: center;
}

.list-group-item a,
.list-group-item a:hover {
  color: #6c757d;
}

.hide {
  display: none;
}


.wrapper {
  display: flex;
  background-color: #fbfbfb;
  height: 100vh;
  max-width: 800px;
}

.msg-list {
  min-width: 200px;
  max-width: 200px;
  background-color: #f7f7f7;
  border-right: 1px solid #eaeaea;
  height: 100vh;
  overflow: auto;
}

.msg-list .item {
  padding: 10px;
  color: #383d43;
  cursor: pointer;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
}

.msg-list .item:hover {
  background-color: #fff;
}

.not-seen {
  position: absolute;
  background-color: #00cd07;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  right: 5px;
  bottom: 5px;
}

.msg-list .item.open {
  background-color: #e7f7ea;
}

.item p {
  margin: 0 0 3px;
  font-size: 14px;
}

.msg-details {
  padding: 0 50px;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.bold {
  font-weight: bold;
}

.delete {
  height: 15px;
  width: 15px;
  top: 10px;
  right: 10px;
  position: absolute;
}

.delete:after {
  content: 'x';
  position: absolute;
  top: -2px;
  left: 3px;
  font-family: "Arial", sans-serif;
}

